<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Familiares</h1>
    <h2>Estos son los familiares creados</h2>

    {% for nombre in nombres %}
        <p>Nombre:{{ nombre }}</p>
    {% endfor %}
    <br>
    {% for edad in edades %}
        <p>Edad:{{ edad }}</p>
    {% endfor %}    
    <br>
    {% for fecha in fecha_nacimientos %}
        <p>Fecha de Nacimiento:{{ fecha }}</p>
    {% endfor %}

</body>
</html>